<%- include('../partial/header.ejs')%>
<div class = "content">
  <%  if(data.connections.length) { %>
        <h1>Select a connection to learn more!</h1>
        <%for(var i =0; i < data.category.length; i++){ %>
            <h1><em><%= data.category[i] %></em></h1>
            <% for(var j=0; j < data.connections.length; j++){
                if(data.connections[j].topic == data.category[i]){%>
                    <a href = "/connections/<%=data.connections[j].id%>"> <h2><%= data.connections[j].title%></h2></a>
            <%}}%>
        <%} %>
    <% } else { %>
        <h1>There are no classes available to sign up!</h1>
  <%  } %>
</div>

<%- include('../partial/footer.ejs')%>